@import 'nib'
@import 'normalize'
@import 'util'
@import 'colours'
@import 'formsUI'
@import 'scroll'

body
  font-size 16px

h1
h2
h3
h4
p
figure
  margin 0
  padding 0

.conversationUser
	display flex
	flex-direction column
	justify-content center
	min-height 100vh

	> *
		margin-bottom 1.2em

	.labelA
    margin-bottom .5em

  > div
      text-align center

.conversationBody
  display flex
  flex-direction column
  justify-content space-between
  height 100%
  width 100%

  .header-user
    align-items center
    display flex
    flex-direction row
    justify-content space-between
    padding 1em

    > .avatar
        > img
            border-radius 50%

  .ListMessage
    box-sizing border-box
    display flex
    flex-direction column
    height calc(100vh - 222.59px)
    overflow-y auto
    padding 20px
    width 100%

    .Message
      margin-bottom .5em
      &-avatar
        float left
        > img
            border-radius 50%
      &-Body
        margin-left 50px
        > p
            margin-top 2px

  .Message-form
    position fixed
    bottom 0
    left 0
    padding 20px 30px
    display flex
    align-items center
    width 100%
    box-sizing border-box
    border-top 1px solid #dcdcdc
    > textarea
        border 1px solid #dddddc
        border-radius 5px
        color #273b47
        font-size 16px
        padding .8em
        outline 0
        font-family Lato,sans-serif
        resize none
        width 100%
    > button
        border-radius 50%
        border none
        background coffee
        color #FFF
        outline none
        height 50px
        padding 0
        margin-left 10px
        width 55px
        line-height 0
